HF_TOKEN=YOUR_API_TOKEN
EMBEDDING_MODEL=YOUR_EMBEDDING_MODEL
LLM_MODEL=YOUR_LLM_MODEL
LLM_TEMPERATURE=
LLM_MAX_NEW_TOKENS=
CHROMA_DB_PATH= DB_PATH
TRANSCRIPT_PATH=TRANSCRIPT_DB_PATH
CHROMA_COLLECTION_NAME= VECTOR STORE NAME