
__pycache__/
*.py[cod]
*.pyo
*.pyd


venv/
.venv/


.env


.vscode/
 

.pytest_cache/


*.log

.DS_Store
Thumbs.db

data/vector_db/


data/cache/
.streamlit/secrets.toml

# Ignore generated contents but keep folders
data/documents/*
!data/documents/.gitkeep

data/vector_db/*
!data/vector_db/.gitkeep

data/cache/*
!data/cache/.gitkeep